<section class="mt-5">
  <div class="container">
    <div class="card border-success mb-3">
      <div class="row align-items-center gy-3 p-5">
        <div class="col-12 col-md-7">
          <h1 class="card-title fw-semibold text-success">Rotina Médica</h1>

          <h2 class="fw-semibold fs-4">Seja Bem-Vindo(a)!</h2>
          <section id="info" class="fs-5">
            <p class="mt-4">
              O <span class="text-success fw-semibold">e-Agenda Médica</span> auxilia na organização e rotina de consultas
              cirurgias e contatos Medicos.
            </p>     
            <br>
            <br>     
            <br>
            <br>
          </section>
      
        </div>

        <div class="col-12 col-md-5">
          <img src="/assets/medico.png" class="img-fluid rounded-2 " />
        </div>
      </div>
    </div>
  </div>
</section>
